In [22]:
import numpy as np
import pandas as pd

In [34]:
df = pd.read_csv('data/college.csv')

In [35]:
df.RELAFFIL = df.RELAFFIL.map({0: 'SECULAR', 1: 'RELIGIOUS'})
# df.RELAFFIL = np.where(df['RELAFFIL'] == 1, 'RELIGIOUS', 'SECULAR')

df.iloc[:5, :9]

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,SECULAR,424.0,420.0
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,SECULAR,570.0,565.0
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,RELIGIOUS,NaN,NaN
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,SECULAR,595.0,590.0
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,SECULAR,425.0,430.0

In [61]:
g = df.groupby(['STABBR', 'RELAFFIL'])

In [79]:
g_ugds = g.UGDS
g_INSTNM = g.INSTNM.count()
g_INSTNM.sort_values(ascending=False).head(10)

STABBR  RELAFFIL
CA      SECULAR      609
NY      SECULAR      393
TX      SECULAR      376
FL      SECULAR      347
PA      SECULAR      309
OH      SECULAR      291
IL      SECULAR      243
CA      RELIGIOUS    164
MA      SECULAR      163
MI      SECULAR      159
Name: INSTNM, dtype: int64

In [82]:
g_INSTNM.loc[(slice(None,None), 'SECULAR')].sort_values(ascending=False).head()

STABBR
CA    609
NY    393
TX    376
FL    347
PA    309
Name: INSTNM, dtype: int64

In [83]:
g_INSTNM.loc[(slice(None,None), 'RELIGIOUS')].sort_values(ascending=False).head()

STABBR
CA    164
TX     96
FL     89
PA     85
NY     66
Name: INSTNM, dtype: int64

In [51]:
len(df[(df.STABBR=='CA') & (df.RELAFFIL == 'SECULAR')])

609

In [76]:
g_ugds.agg(['mean', 'min', 'max']).head()

                         mean    min      max
STABBR RELAFFIL
AK     RELIGIOUS   123.333333   27.0    275.0
       SECULAR    3508.857143  109.0  12865.0
AL     RELIGIOUS   979.722222   13.0   3033.0
       SECULAR    3248.774648   12.0  29851.0
AR     RELIGIOUS   917.785714   20.0   4485.0

In [78]:
df.groupby(['STABBR', 'RELAFFIL'])['UGDS'].mean().unstack(level='RELAFFIL').head(10)

RELAFFIL    RELIGIOUS      SECULAR
STABBR
AK         123.333333  3508.857143
AL         979.722222  3248.774648
AR         917.785714  1793.691176
AS                NaN  1276.000000
AZ         692.750000  4363.533898
CA        1356.342105  3802.089810
CO        2332.250000  2324.619469
CT        1674.142857  1890.573171
DC        4874.750000  2008.285714
DE        3788.666667  2247.750000