In [24]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv('data/college_sample.csv')
df

,STABBR,INSTNM,SATVRMID,SATMTMID,UGDS,UGDS_WHITE
0,FL,Webber International University,470.0,480.0,687.0,0.3916
1,FL,Florida Southern College,570.0,560.0,2352.0,0.7232
2,TX,The University of Texas at San Antonio,505.0,535.0,23815.0,0.2607
3,FL,Florida Gulf Coast University,530.0,520.0,13253.0,0.6615
4,CA,University of Redlands,550.0,550.0,3710.0,0.4690
5,TX,Wayland Baptist University,460.0,480.0,3716.0,0.4319
6,CA,Sonoma State University,495.0,495.0,8441.0,0.5105
7,CA,Loyola Marymount University,590.0,610.0,6064.0,0.4672
8,TX,University of Houston,555.0,590.0,31643.0,0.2718
9,FL,University of South Florida-Main Campus,575.0,585.0,30279.0,0.5279
10,TX,Lamar University,475.0,485.0,9043.0,0.4902
11,FL,St Thomas University,465.0,460.0,931.0,0.0924
12,CA,San Francisco State University,490.0,500.0,25170.0,0.2195
13,TX,Texas Wesleyan University,475.0,505.0,1676.0,0.3085
14,CA,California State University-San Bernardino,440.0,450.0,16439.0,0.1588

In [92]:
g = df.groupby('STABBR')
g

In [27]:
type(g)

pandas.core.groupby.DataFrameGroupBy

In [93]:
for name, group in g:
    print(name, group[group.columns.difference(['INSTNM'])], sep='\n', end='\n\n')

CA
    SATMTMID  SATVRMID STABBR     UGDS  UGDS_WHITE
4      550.0     550.0     CA   3710.0      0.4690
6      495.0     495.0     CA   8441.0      0.5105
7      610.0     590.0     CA   6064.0      0.4672
12     500.0     490.0     CA  25170.0      0.2195
14     450.0     440.0     CA  16439.0      0.1588

FL
    SATMTMID  SATVRMID STABBR     UGDS  UGDS_WHITE
0      480.0     470.0     FL    687.0      0.3916
1      560.0     570.0     FL   2352.0      0.7232
3      520.0     530.0     FL  13253.0      0.6615
9      585.0     575.0     FL  30279.0      0.5279
11     460.0     465.0     FL    931.0      0.0924

TX
    SATMTMID  SATVRMID STABBR     UGDS  UGDS_WHITE
2      535.0     505.0     TX  23815.0      0.2607
5      480.0     460.0     TX   3716.0      0.4319
8      590.0     555.0     TX  31643.0      0.2718
10     485.0     475.0     TX   9043.0      0.4902
13     505.0     475.0     TX   1676.0      0.3085

In [94]:
for name, group in g:
    print(name, group['INSTNM'], sep='\n', end='\n\n')

CA
4                         University of Redlands
6                        Sonoma State University
7                    Loyola Marymount University
12                San Francisco State University
14    California State University-San Bernardino
Name: INSTNM, dtype: object

FL
0             Webber International University
1                    Florida Southern College
3               Florida Gulf Coast University
9     University of South Florida-Main Campus
11                       St Thomas University
Name: INSTNM, dtype: object

TX
2     The University of Texas at San Antonio
5                 Wayland Baptist University
8                      University of Houston
10                          Lamar University
13                 Texas Wesleyan University
Name: INSTNM, dtype: object

In [29]:
g.ngroups

3

In [30]:
g.groups

{'CA': Int64Index([4, 6, 7, 12, 14], dtype='int64'),
 'FL': Int64Index([0, 1, 3, 9, 11], dtype='int64'),
 'TX': Int64Index([2, 5, 8, 10, 13], dtype='int64')}

In [33]:
g['UGDS'].agg(np.mean)

STABBR
CA    11964.8
FL     9500.4
TX    13978.6
Name: UGDS, dtype: float64

In [96]:
g['UGDS'].agg('mean')

STABBR
CA    11964.8
FL     9500.4
TX    13978.6
Name: UGDS, dtype: float64

In [40]:
g['UGDS'].aggregate('min') # identical to agg

STABBR
CA    3710.0
FL     687.0
TX    1676.0
Name: UGDS, dtype: float64

In [43]:
g['UGDS'].agg('describe')

STABBR
CA      count        5.000000
        mean     11964.800000
        std       8800.200322
        min       3710.000000
        25%       6064.000000
        50%       8441.000000
        75%      16439.000000
        max      25170.000000
FL      count        5.000000
        mean      9500.400000
        std      12728.339279
        min        687.000000
        25%        931.000000
        50%       2352.000000
        75%      13253.000000
        max      30279.000000
TX      count        5.000000
        mean     13978.600000
        std      13132.220540
        min       1676.000000
        25%       3716.000000
        50%       9043.000000
        75%      23815.000000
        max      31643.000000
Name: UGDS, dtype: float64

In [48]:
g['UGDS'].agg(['min', 'max', 'size', 'count', 'std', 'nunique'])

           min      max  size  count           std  nunique
STABBR
CA      3710.0  25170.0     5      5   8800.200322        5
FL       687.0  30279.0     5      5  12728.339279        5
TX      1676.0  31643.0     5      5  13132.220540        5

In [50]:
res = g.agg(['mean', 'min', 'max'])
res

       SATVRMID               SATMTMID                   UGDS          \
           mean    min    max     mean    min    max     mean     min
STABBR
CA        513.0  440.0  590.0    521.0  450.0  610.0  11964.8  3710.0
FL        522.0  465.0  575.0    521.0  460.0  585.0   9500.4   687.0
TX        494.0  460.0  555.0    519.0  480.0  590.0  13978.6  1676.0

                UGDS_WHITE
            max       mean     min     max
STABBR
CA      25170.0    0.36500  0.1588  0.5105
FL      30279.0    0.47932  0.0924  0.7232
TX      31643.0    0.35262  0.2607  0.4902

In [53]:
res.loc['CA', ['UGDS']]

UGDS  mean    11964.8
      min      3710.0
      max     25170.0
Name: CA, dtype: float64

In [55]:
res.loc['CA', ('UGDS', 'mean')]

11964.799999999999

In [58]:
g.describe().T

STABBR        CA                                                           \
           count       mean          std        min        25%        50%
SATMTMID     5.0    521.000    61.073726   450.0000   495.0000   500.0000
SATVRMID     5.0    513.000    58.051701   440.0000   490.0000   495.0000
UGDS         5.0  11964.800  8800.200322  3710.0000  6064.0000  8441.0000
UGDS_WHITE   5.0      0.365     0.162880     0.1588     0.2195     0.4672

STABBR                               FL                 ...                  \
                  75%         max count        mean     ...             75%
SATMTMID      550.000    610.0000   5.0   521.00000     ...        560.0000
SATVRMID      550.000    590.0000   5.0   522.00000     ...        570.0000
UGDS        16439.000  25170.0000   5.0  9500.40000     ...      13253.0000
UGDS_WHITE      0.469      0.5105   5.0     0.47932     ...          0.6615

STABBR                    TX                                                   \
                   max count         mean           std        min        25%
SATMTMID      585.0000   5.0    519.00000     45.194026   480.0000   485.0000
SATVRMID      575.0000   5.0    494.00000     37.815341   460.0000   475.0000
UGDS        30279.0000   5.0  13978.60000  13132.220540  1676.0000  3716.0000
UGDS_WHITE      0.7232   5.0      0.35262      0.102642     0.2607     0.2718

STABBR
                  50%         75%         max
SATMTMID     505.0000    535.0000    590.0000
SATVRMID     475.0000    505.0000    555.0000
UGDS        9043.0000  23815.0000  31643.0000
UGDS_WHITE     0.3085      0.4319      0.4902

[4 rows x 24 columns]

In [60]:
g.mean()

        SATVRMID  SATMTMID     UGDS  UGDS_WHITE
STABBR
CA         513.0     521.0  11964.8     0.36500
FL         522.0     521.0   9500.4     0.47932
TX         494.0     519.0  13978.6     0.35262

In [62]:
df.groupby('STABBR').mean()

        SATVRMID  SATMTMID     UGDS  UGDS_WHITE
STABBR
CA         513.0     521.0  11964.8     0.36500
FL         522.0     521.0   9500.4     0.47932
TX         494.0     519.0  13978.6     0.35262

In [68]:
g.agg({'UGDS': ['mean'], 'SATVRMID': ['max']})

       SATVRMID     UGDS
            max     mean
STABBR
CA        590.0  11964.8
FL        575.0   9500.4
TX        555.0  13978.6

In [67]:
g.agg({'UGDS': 'mean', 'SATVRMID': ['min', 'max']})

       SATVRMID            UGDS
            min    max     mean
STABBR
CA        440.0  590.0  11964.8
FL        465.0  575.0   9500.4
TX        460.0  555.0  13978.6

In [72]:
g.agg({'UGDS': {'UGDS_MEAN': 'mean', 'UGDS_MIN': 'min', 'UGDS_MAX': 'max'}})

           UGDS
       UGDS_MAX UGDS_MEAN UGDS_MIN
STABBR
CA      25170.0   11964.8   3710.0
FL      30279.0    9500.4    687.0
TX      31643.0   13978.6   1676.0

In [88]:
def min_max(s):
    '''return max - min of a series'''
    return s.max() - s.min()
g.agg(min_max)

        SATVRMID  SATMTMID     UGDS  UGDS_WHITE
STABBR
CA         150.0     160.0  21460.0      0.3517
FL         110.0     125.0  29592.0      0.6308
TX          95.0     110.0  29967.0      0.2295

In [89]:
def min_max(s):
    '''return max - min of a series'''
    return (s.min(), s.max())
g[df.columns.difference(['STABBR', 'INSTNM'])].agg(min_max)

              SATMTMID        SATVRMID               UGDS        UGDS_WHITE
STABBR
CA      (450.0, 610.0)  (440.0, 590.0)  (3710.0, 25170.0)  (0.1588, 0.5105)
FL      (460.0, 585.0)  (465.0, 575.0)   (687.0, 30279.0)  (0.0924, 0.7232)
TX      (480.0, 590.0)  (460.0, 555.0)  (1676.0, 31643.0)  (0.2607, 0.4902)

In [91]:
g.agg(lambda s: s.max() - s.min())

        SATVRMID  SATMTMID     UGDS  UGDS_WHITE
STABBR
CA         150.0     160.0  21460.0      0.3517
FL         110.0     125.0  29592.0      0.6308
TX          95.0     110.0  29967.0      0.2295