In [2]:
import numpy as np
import pandas as pd

In [3]:
stocks_2014 = pd.read_csv('data/stocks_2014.csv', index_col=['Symbol'])
stocks_2015 = pd.read_csv('data/stocks_2015.csv', index_col=['Symbol'])
stocks_2016 = pd.read_csv('data/stocks_2016.csv', index_col=['Symbol'])

In [30]:
pd.concat([stocks_2014, stocks_2015], keys=['2014', '2015'], names=['Year'])

             Shares  Low  High
Year Symbol
2014 AAPL        80   95   110
     TSLA        50   80   130
     WMT         40   55    70
2015 AAPL        50  120   140
     GE         100   30    40
     IBM         87   75    95
     SLB         20   55    85
     TXN        500   15    23
     TSLA       100  100   300

In [31]:
pd.concat([stocks_2014, stocks_2015], axis=1, keys=['2014', '2015'], names=['Year'])

Year   2014                2015
     Shares   Low   High Shares    Low   High
AAPL   80.0  95.0  110.0   50.0  120.0  140.0
GE      NaN   NaN    NaN  100.0   30.0   40.0
IBM     NaN   NaN    NaN   87.0   75.0   95.0
SLB     NaN   NaN    NaN   20.0   55.0   85.0
TSLA   50.0  80.0  130.0  100.0  100.0  300.0
TXN     NaN   NaN    NaN  500.0   15.0   23.0
WMT    40.0  55.0   70.0    NaN    NaN    NaN

In [32]:
pd.concat([stocks_2014, stocks_2015], axis=1, keys=['2014', '2015'], names=['Year'], join='inner')

Year     2014            2015
       Shares Low High Shares  Low High
Symbol
AAPL       80  95  110     50  120  140
TSLA       50  80  130    100  100  300

In [33]:
# stocks_2014.append(stocks_2015)