In [33]:
import numpy as np
import pandas as pd

In [41]:
albums = pd.read_csv('data/chinook/albums.csv')
artists = pd.read_csv('data/chinook/artists.csv')
tracks = pd.read_csv('data/chinook/tracks.csv')

In [42]:
artists.columns

Index(['ArtistId', 'Name'], dtype='object')

In [43]:
art_alb = artists.merge(albums, how='left', left_on='ArtistId', right_on='ArtistId', suffixes=('_Artist', '_Album'))
# art_alb[art_alb.AlbumId.isnull()]

In [54]:
art_alb.groupby('Name')['AlbumId'].count().sort_values(ascending=False).reset_index().head(10)

              Name  AlbumId
0      Iron Maiden       21
1     Led Zeppelin       14
2      Deep Purple       11
3               U2       10
4        Metallica       10
5    Ozzy Osbourne        6
6        Pearl Jam        5
7        Van Halen        4
8  Various Artists        4
9     Foo Fighters        4

In [66]:
art_alb_tra = art_alb.merge(tracks, suffixes=('_Artist', '_Track'), on='AlbumId', how='left')
art_alb_tra.groupby('Name_Artist')['TrackId'].count().sort_values(ascending=False).head(10)

Name_Artist
Iron Maiden        213
U2                 135
Led Zeppelin       114
Metallica          112
Deep Purple         92
Lost                92
Pearl Jam           67
Lenny Kravitz       57
Various Artists     56
The Office          53
Name: TrackId, dtype: int64

In [67]:
art_alb_tra.columns

Index(['ArtistId', 'Name_Artist', 'AlbumId', 'Title', 'TrackId', 'Name_Track',
       'MediaTypeId', 'GenreId', 'Composer', 'Milliseconds', 'Bytes',
       'UnitPrice'],
      dtype='object')

In [79]:
g = art_alb_tra[['Name_Artist', 'Name_Track']].drop_duplicates(subset='Name_Track').groupby('Name_Artist')['Name_Track']
g.count().sort_values(ascending=False).head(10)

Name_Artist
Iron Maiden        148
U2                 120
Metallica          104
Led Zeppelin        91
Lost                89
Deep Purple         86
Pearl Jam           61
Various Artists     56
Lenny Kravitz       54
The Office          52
Name: Name_Track, dtype: int64

In [91]:
def build_base(x):
    return '{' + ':.{}f'.format(x) + '}'
print(build_base(11).format(3.14))

3.14000000000